.dark {
  background-color: #333;
  color: #fff;
}

.light {
  background-color: #d7d6d2;
  color: #333;
}

.dark .custom-input-group-field {
  background-color: #50505c;
  outline: none;
  border: none;
  color: #dadee7;
}

.light .custom-input-group-field {
  background-color: #f5f5f5;
  outline: none;
  border: none;
  color: #000000;
}

.dark #dropdown-basic-button {
  border: none;
  background-color: #315ed9 !important;
}

.dark #header-search-input {
  background-color: #50505c;
  outline: none;
  border: none;
  color: #dadee7;
}

.dark #header-search-input::placeholder {
  color: #e4e6ed;
  opacity: 0.3;
}
.custom-input-group-field:focus {
  outline: 1px solid #007bff;
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.5);
}

.light #dropdown-basic-button {
  border: none;
  background-color: #315ed9 !important;
}

.light #header-search-input {
  background-color: #f5f5f5;
  outline: none;
  border: none;
  color: #000000;
}

.light #header-search-input::placeholder {
  color: #8c8d8e;
  opacity: 0.5;
}

/* Light mode */
.light .dropdown-menu {
  background-color: #fff;
  color: #333;
}

/* Dark mode */
.dark .dropdown-menu {
  background-color: #bdb9b9;
  color: #fff;
}

/* Light mode */
.light select {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
}

/* Dark mode */
.dark select {
  background-color: #333;
  color: #fff;
  border: 1px solid #777;
}

/* Light mode */
.list-group-item {
  background-color: #fff;
  color: #333;
}

/* Dark mode */
.dark .list-group-item {
  /* background-color: #333; */
  background-color: #000000;
  color: #ffffff;
}

/* Dark mode table */
.dark table {
  background-color: #343a40;

  border-color: #010101;
}

.dark .table-dark tbody td {
  color: white;
}

/* .dark table td */
.dark table thead th {
  border-color: #010101;
  background-color: #170c58;
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.light table {
  border-color: #010101;
}

.light table thead th {
  border-color: #010101;
  background-color: #170c58;
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.dark table.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(122, 118, 118, 0.386);
  color: white;
}

.dark table.table-hover tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.dark table.table-striped tbody td {
  color: white;
}

/* Light mode */
.light select:disabled {
  background-color: #ccc;
  color: #000;
  border: 1px solid #ccc;
}

/* Dark mode */
.dark select:disabled {
  background-color: #777474;
  color: #fff;
  border: 1px solid #777;
}

.light select:disabled:hover {
  background-color: #ccc;
  color: #000;
  border: 1px solid #ccc;
}

/* Dark mode */
.dark select:disabled:hover {
  background-color: #777474;
  color: #fff;
  border: 1px solid #777;
}

/* Light mode */
.light select:hover {
  background-color: #f5f5f5;
  color: #333;
}

/* Light mode */
.light .cht-msg {
  color: black;
}

/* Dark mode */
.dark .cht-msg {
  color: black;
}
/* 
.light .form-control:focus {
  border-color: #0b2ac6c5 !important;  
  transition:  box-shadow .2s ease-in-out;  
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5) !important;   
}

.dark .form-control:focus {
  border-color: #0b2ac6c5 !important;  
  transition:  box-shadow .2s ease-in-out;  
  box-shadow: 7px 8px 25px -2px rgba(0,0,0,0.75) !important;   
} */

.dark #adminLinksMenu .nav-link {
  color: rgb(1, 1, 1);
}

.dark #adminLinksMenu .nav-link:hover {
  color: rgb(42, 27, 184);
}

.dark .navbar#adminLinksMenu {
  background-color: darkgray;
  border-radius: 15px;
}

.light #adminLinksMenu .nav-link {
  color: rgb(1, 1, 1);
}

.light .navbar#adminLinksMenu {
  background-color: rgb(228, 228, 228);
  border-radius: 15px;
}

.light #adminLinksMenu .nav-link:hover {
  color: rgb(42, 27, 184);
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.dark .toast-header {
  color: rgb(255, 255, 255);
  border-color: black;
  background-color: black;
  width: 100%;
}

.light .toast-header {
  color: black;
  width: 1200px;
}

.admin_chat_header {
  width: 100%;
}

/* Dark mode */
.dark .toast-body {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

/* Dark mode */
.light .toast-body {
  color: rgb(0, 0, 0);
}

.btn-close {
  color: white;
  background-color: rgb(179, 185, 245);
}

.btn-close:hover {
  background-color: rgb(158, 161, 211);
}

.chat-box-admin {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  border-color: rgb(87, 85, 85);
  padding-left: 0px;
  padding-right: 0px;
}

.dark .chat-wrapper {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  border-color: rgb(87, 85, 85);
}

.dark .chat-header {
  background-image: linear-gradient(60deg, #092b52 0%, #233a53 100%);
  border-color: rgb(87, 85, 85);
}

.dark #clientChatMsg {
  background-image: linear-gradient(60deg, #092b52 0%, #233a53 100%);
  border-color: rgb(87, 85, 85);
  color: white;
}

.dark .cht-msg p {
  color: white;
}

.dark .support_wrote_box {
  background-color: rgb(88, 8, 88);
}
