html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 170px;
    
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 165px;
}


.btn {
  z-index: 9999 !important; 
  color: rgb(0, 0, 0) !important; 
}

.btn:active {
  transform: scale(0.9);
}


.product_list_buttons {
  display: flex;
  margin-top: 15px;
  align-items: center;
  gap: 10px;
}

.ski_image {  
  position: absolute;
  max-width: 90%;
  margin-left: 0%;
  margin-bottom: 0% !important; /* Adding !important to ensure it takes precedence */
  bottom: 0;
  z-index: -1;  
}

.ice_cave_image {  
  position: absolute;
  max-width: 90%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0% !important; /* Adding !important to ensure it takes precedence */
  bottom: 0;
  right: 0;
  z-index: -1;
}

.cliff_image {  
  position: absolute;
  max-width: 90%;
  height: 100%;
  margin-left: 0%;  
  margin-bottom: 0% !important; /* Adding !important to ensure it takes precedence */
  bottom: 0;
  z-index: -1;  
}

.rappel_image {  
  position: absolute;
  height: 95%;
  margin-right: 0%;  
  margin-bottom: 0% !important; /* Adding !important to ensure it takes precedence */
  bottom: 0;
  right:0;
  z-index: -1;  
}

.rock_inverted_photo {  
  height: 40%;
  position: absolute;
  z-index: -1;  
}

.subtotal_and_checkout_div_in_cart{
  z-index: 9999;
  padding-bottom: 300px;
}

.ski_banner_box {
  position: relative;
  width: 60%;
  height: 250px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #91b2c2 100%);
  margin: 2% 0% 1% 20%;
  overflow: hidden;
  z-index: 1;
  border-radius: 50px;
}

.ski_slope {
  position: absolute;
  bottom: 0;
  left: -110px;
  width: 80%;
  height: 2613px;
  background-image: linear-gradient(120deg, #f7f7f7 0%, #f4f7f8 100%);
  transform-origin: bottom left;
  transform: perspective(500px) rotateX(55deg);
  overflow: hidden;
  z-index: 2;
}

.skier_banner_vector{
  position: relative;
  z-index: 223;
  height: 60px;
  top: 50px;
  animation-name: ski;
  z-index: -12;
  animation-duration: 6s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.5,.77,1,1);  
}

@keyframes ski{
  from{transform: translateX(-350px)}
  to{transform: translateX(800px) translateY(250px) }  
}



@keyframes cloud{
  from{transform: translateX(0px)}
  to{transform: translateX(600px)}  
}

.skier_banner_slope{
  position: absolute;
  object-fit:none;
  scale: 100%;
  z-index: -22;
  object-position: bottom 153px right 0px;
}

.cloud_banner_vector {
  position: absolute;
  object-fit:none;
  scale: 20%;
  z-index: 1334;
  top: -250px;
  right: 50px;
  animation-name: cloud;
  animation-duration: 7s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.5,.77,1,1);  
  animation-direction: alternate;
}

.cloud_banner_vector2 {
  position: absolute;
  object-fit:none;
  scale: 20%;
  z-index: 1334;
  top: -250px;
  right: 220px;
  animation-name: cloud;
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.5,.77,1,1);  
  animation-direction: alternate;
}

.cloud_banner_vector3 {
  position: absolute;
  object-fit:none;
  scale: 20%;
  z-index: 1334;
  top: -250px;
  right: 390px;
  animation-name: cloud;
  animation-duration: 8s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.5,.77,1,1);   
  animation-direction: alternate;
}

.cloud_banner_vector4 {
  position: absolute;
  object-fit:none;
  scale: 20%;
  z-index: 1334;
  top: -250px;
  right: 510px;
  animation-name: cloud;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.5,.77,1,1);  
  animation-direction: alternate;
}

.cloud_banner_vector5 {
  position: absolute;
  object-fit:none;
  scale: 20%;
  z-index: 1334;
  top: -250px;
  right: -320px;
  animation-name: cloud;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.5,.77,1,1);  
  animation-direction: alternate;
}

.cloud_banner_vector6 {
  position: absolute;
  object-fit:none;
  scale: 20%;
  z-index: 1334;
  top: -250px;
  right: -140px;
  animation-name: cloud;
  animation-duration: 13s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.5,.77,1,1);  
  animation-direction: alternate;
}

.cloud_banner_vector7 {
  position: absolute;
  object-fit:none;
  scale: 20%;
  z-index: 1334;
  top: -250px;
  right: 620px;
  animation-name: cloud;
  animation-duration: 6s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.5,.77,1,1);  
  animation-direction: alternate;
}

.cloud_banner_vector8 {
  position: absolute;
  object-fit:none;
  scale: 20%;
  z-index: 1334;
  top: -250px;
  right: -320px;
  animation-name: cloud;
  animation-duration: 8s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.5,.77,1,1);  
  animation-direction: alternate;
}

.cloud_banner_vector9 {
  position: absolute;
  object-fit:none;
  scale: 20%;
  z-index: 1334;
  top: -250px;
  right: -520px;
  animation-name: cloud;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.5,.77,1,1);  
  animation-direction: alternate;
}

.cloud_banner_vector10 {
  position: absolute;
  object-fit:none;
  scale: 20%;
  z-index: 1334;
  top: -250px;
  right: 30px;
  animation-name: cloud;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.5,.77,1,1);  
  animation-direction: alternate;
}

.cloud_banner_vector11 {
  position: absolute;
  object-fit:none;
  scale: 20%;
  z-index: 1334;
  top: -250px;
  right: 140px;
  animation-name: cloud;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.5,.77,1,1);  
  animation-direction: alternate;
}

.cloud_banner_vector12 {
  position: absolute;
  object-fit:none;
  scale: 20%;
  z-index: 1334;
  top: -250px;
  right: -440px;
  animation-name: cloud;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.5,.77,1,1);  
  animation-direction: alternate;
}

.cloud_banner_vector13 {
  position: absolute;
  object-fit:none;
  scale: 20%;
  z-index: 1334;
  top: -250px;
  right: -240px;
  animation-name: cloud;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.5,.77,1,1);  
  animation-direction: alternate;
}

.tree{
  position: absolute;
  height: 100px;
  top: 160px;
  right: 950px;
  z-index: -1;
}





