html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 170px;
    
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 165px;
}


.btn {
  z-index: 9999 !important; 
  color: rgb(0, 0, 0) !important; 
}

.product_list_buttons {
  display: flex;
  margin-top: 15px;
  align-items: center;
  gap: 10px;
}

.ski_image {  
  position: absolute;
  max-width: 70%;
  margin-left: 0%;
  margin-bottom: 0% !important; /* Adding !important to ensure it takes precedence */
  bottom: 0;
}